version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: docker/api/Dockerfile.dev
    image: ${DOCKERHUB_USERNAME}/${DOCKERHUB_APP_ID}:dev
    container_name: ${DOCKERHUB_APP_ID}.api.dev
    environment:
      NODE_ENV: development
      PORT: ${PORT}
      ENABLE_LOG: ${ENABLE_LOG}
      DATABASE_URL: postgres://${DATABASE_USER}:${DATABASE_PASSWORD}@database:5432/${DATABASE_NAME}
      DATABASE_SSL: ${DATABASE_SSL}
      DATABASE_SCHEMA: ${DATABASE_SCHEMA}
      ACCESS_TOKEN_SECRET: ${ACCESS_TOKEN_SECRET}
      REFRESH_TOKEN_SECRET: ${REFRESH_TOKEN_SECRET}
      VERIFICATION_TOKEN_SECRET: ${VERIFICATION_TOKEN_SECRET}
      ENABLE_EMAIL_VERIFICATION: ${ENABLE_EMAIL_VERIFICATION}
      MAILER_TOKEN: ${MAILER_TOKEN}
      MAILER_SENDER: ${MAILER_SENDER}
      WEB_VERIFICATOR_URL: ${WEB_VERIFICATOR_URL}
      FRONTEND_URL: ${FRONTEND_URL}
      SHORT_URL_BASE: ${SHORT_URL_BASE}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      SENTRY_DSN: ${SENTRY_DSN}
      SENTRY_TRACES_SAMPLE_RATE: ${SENTRY_TRACES_SAMPLE_RATE}
      SENTRY_PROFILE_SAMPLE_RATE: ${SENTRY_PROFILE_SAMPLE_RATE}
      SENTRY_SEND_DEFAULT_PII: ${SENTRY_SEND_DEFAULT_PII}
      SENTRY_RELEASE: ${SENTRY_RELEASE}
      SENTRY_ENVIRONMENT: ${SENTRY_ENVIRONMENT}
    ports:
      - "${PORT}:${PORT}"
    volumes:
      - ./src:/app/src
      - ./package.json:/app/package.json
      - ./tsconfig.json:/app/tsconfig.json
      - ./nodemon.json:/app/nodemon.json
    networks:
      - app
    depends_on:
      - database
      - mailhog
    restart: unless-stopped

  database:
    image: postgres:15
    container_name: ${DOCKERHUB_APP_ID}.database.dev
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - "${DATABASE_PORT}:5432"
    volumes:
      - dev-db-data:/var/lib/postgresql/data
    networks:
      - app
    restart: unless-stopped

  webserver:
    image: nginx:latest
    container_name: ${DOCKERHUB_APP_ID}.webserver.dev
    volumes:
      - ./docker/webserver/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "${DOCKER_PORT_HTTP}:80"
      - "${DOCKER_PORT_HTTPS}:443"
    networks:
      - app
    depends_on:
      - api
    restart: unless-stopped

  mailhog:
    image: mailhog/mailhog:latest
    container_name: ${DOCKERHUB_APP_ID}.mailhog.dev
    ports:
      - "1025:1025" # SMTP port
      - "8025:8025" # Web UI port
    networks:
      - app
    restart: unless-stopped

volumes:
  dev-db-data:
    name: ${DOCKERHUB_APP_ID}.db.dev

networks:
  app:
    driver: bridge
    name: ${DOCKERHUB_APP_ID}.app.dev
